<app-add-task (onFormSubmit)="taskRefresh()" (onFormError)="showFormError($event)"></app-add-task>
<div>
    <h1>To-Do List</h1>
    <p></p>
</div>
<app-task-item *ngFor="let task of tasks" [task]="task" (onDeleteTask)="deleteTask(task)"
    (onToggleReminder)="toggleReminder(task)" (onEditTask)="editTask(task)">
</app-task-item>
<app-pop-up class="pop-up" id="error-dialog">
    <h3>{{errDialogTitle}}
        <fa-icon (click)="closeModal('error-dialog');" [ngStyle]="{'color':'red'}" [icon]="faTimes"></fa-icon>
    </h3>
    <p>{{errDialogTest}}</p>
</app-pop-up >