<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="name">Task</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Add Task"
      />
    </div>
    <div class="form-control">
      <label for="comments">Day & Time</label>
      <input
        type="text"
        name="comments"
        [(ngModel)]="comments"
        id="comments"
        placeholder="Add Day & Time"
      />
    </div>
    <div class="form-control">
      <label for="comments">Task Type</label>
      <select
      *ngIf="selTaskTypes"
        type="text"
        name="taskTypesList"
        [(ngModel)]="taskTypeId"
        id="selTaskTypes"
        placeholder="Add Day & Time" >
        <option *ngFor="let taskType of selTaskTypes" 
        [ngValue]="taskType.id">{{taskType.type}}</option>
      </select>
    </div>
    <div class="form-control form-control-check">
      <label for="reminder">Set Reminder</label>
      <input
        type="checkbox"
        name="reminder"
        [(ngModel)]="reminder"
        id="reminder"
      />
    </div>
    <input type="submit" value={{submitBtnText}} class="btn btn-block" />
  </form>